<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bleedcode.inradius">

    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/inradius"
        android:label="@string/app_name"
        android:roundIcon="@drawable/inradius"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.bleedcode.inradius.Main.Activity_Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.bleedcode.inradius.Main.Activity_Register"/>
        <activity android:name="com.bleedcode.inradius.Main.Activity_Dashboard"/>

        <activity android:name="com.bleedcode.inradius.General.Activity_Info"/>
        <activity android:name="com.bleedcode.inradius.Manager.Recycler_Manager"/>
        <activity android:name="com.bleedcode.inradius.Discussion.Activity_Discussion_Open"/>

        <activity android:name="com.bleedcode.inradius.General.Dialog_Topic"
            android:theme="@style/Theme.AppCompat.Light.Dialog.MinWidth"/>
        <activity android:name="com.bleedcode.inradius.General.Dialog_Review"
            android:theme="@style/Theme.AppCompat.Light.Dialog.MinWidth"/>
        <activity android:name="com.bleedcode.inradius.Discussion.Dialog_Create"
            android:theme="@style/Theme.AppCompat.Light.Dialog.MinWidth"/>
        <activity android:name="com.bleedcode.inradius.Discussion.Dialog_Reply"
            android:theme="@style/Theme.AppCompat.Light.Dialog.MinWidth"/>

    </application>

</manifest>