<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kodexlabs.inradius">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/inradius"
        android:label="@string/app_name"
        android:roundIcon="@drawable/inradius"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Main.Activity_Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main.Activity_Register"/>

        <activity android:name=".Manager.Recycler_Manager"/>
        <activity android:name=".Profile.Activity_Profile"/>
        <activity android:name=".Activity_Dashboard"/>
        <activity android:name=".Activity_Info"/>
        <activity android:name=".Dialog_Review_Add"
            android:theme="@style/Theme.AppCompat.Light.Dialog.MinWidth"/>
        <activity android:name=".Dialog_Topic_Add"
            android:theme="@style/Theme.AppCompat.Light.Dialog.MinWidth"/>

    </application>

</manifest>